* {
    box-sizing: border-box;
}

body {
    --background-color: white;
    --text-color:black;
    --element-color:white;
    margin: 0;
    font-family: nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
body.dark{
    --background-color: hsl(207,26%,17%);
    --text-color:white;
    --element-color:hsl(209,23%,22%);
}
main {
    padding: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}
.theme-changer{
    cursor: pointer;
}
.title {
    font-weight: 800;
}

.header-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-inline: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    max-width: 1200px;
}
.search-filter-container{
    display: flex;
    margin-inline: auto;
    gap: 26px;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 42px;
    padding-left:0px ;
    width: 100%;
    max-width: 1200px;
}
.search-container{
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 8px;
    border-radius: 5px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    background-color: var(--element-color);
    color: var(--text-color);

}
.search-container i{
    color: #999;
}
.search-container input{
    border:none;
    outline:none;
    padding:12px ;
    width: 90%;
    background-color: inherit;
    color: inherit;
   
}
.search-container input::placeholder{
    color: #999;
}
.filter-by-region{
    width: 250px;
    padding: 16px 16px;
    border: none;
    outline: none;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: var(--element-color);
    color: var(--text-color);
}
.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.countries-container {
    max-width: 1200px;
    margin-inline:auto;
    margin-top: 16px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.country-card img {
    width: 100%;
    height: 150px; /* or any fixed height you prefer */
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    margin-block: 15px;
}

.card-text {
    padding-inline: 16px;
}

.country-card p {
    margin-block: 8px;
}


@media(max-width:768px) {
    .countries-container {
        justify-content: center;
    }
    .title {
        font-size: 16px;
    }
    .header-content p {
        font-size: 13px;
    }
    .search-filter-container{
        flex-direction: column;
        
    }
}